S3_ADDRESS=localhost:9900
ACCESS_KEY=admin
SECRET_KEY=admin
PG_ADDRESS=localhost:9903
PG_USER=admin
PG_PASS=admin
PG_DB=main
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://admin:admin@localhost:9903/main
GOOSE_MIGRATION_DIR=./internal/db/schema
ALLOWED_ORIGINS=*
