- name: Deploy
  hosts: all
  become: false
  vars:
    project_dir: "/srv/deploy/richmond"

  tasks:
    - name: Create deploy dir
      become: true
      ansible.builtin.file:
        path: "{{ project_dir }}"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        state: directory
        recurse: true
        mode: "0755"

    - name: Copy files for deploy
      ansible.builtin.copy:
        src: deploy/main/compose.yaml
        dest: "{{ project_dir }}"
        mode: "0644"

    - name: "Deploy rustfs and postgres"
      when: {{ COMPOSE_CHANGED }}
      ansible.builtin.command:
        cmd: docker compose up -d rustfs postgres
        chdir: "{{ project_dir }}"
      environment:
        AUTH_USER: "{{ AUTH_USER }}"
        AUTH_PASS: "{{ AUTH_PASS }}"
      register: out
      changed_when: out.rc != 0

    - name: Remove old version of image
      ansible.builtin.command:
        cmd: docker image prune --filter="dangling=true" --force
      register: out
      changed_when: out.rc != 0
